## Preprocessing

In [7]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Import pandas and read the charity_data.csv from the provided cloud URL.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [9]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [13]:
# Determine the number of unique values in each column.
unique_values = application_df.nunique()
print(unique_values)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [17]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
app_type_counts = application_df['APPLICATION_TYPE'].value_counts()
print(app_type_counts)

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [29]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff = 500
application_types_to_replace = app_type_counts[app_type_counts < cutoff].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [33]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [37]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_filtered = classification_counts[classification_counts > 1]
print(classification_counts_filtered)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [39]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff = 1000
classifications_to_replace = classification_counts[classification_counts < cutoff].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [41]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [45]:
# Split our preprocessed data into our features and target arrays

# Split the preprocessed data into a training and testing dataset
y = application_df["IS_SUCCESSFUL"]
X = application_df.drop(columns=["IS_SUCCESSFUL"])
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print(f"Training Features Shape: {X_train.shape}")
print(f"Testing Features Shape: {X_test.shape}")
print(f"Training Target Shape: {y_train.shape}")
print(f"Testing Target Shape: {y_test.shape}")

Training Features Shape: (27439, 43)
Testing Features Shape: (6860, 43)
Training Target Shape: (27439,)
Testing Target Shape: (6860,)

In [47]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [55]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=64, activation="relu", input_dim=X_train_scaled.shape[1]))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=32, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

C:\Users\Patrick Yau\AppData\Roaming\Python\Python312\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 64)             │         2,816 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 4,929 (19.25 KB)

 Trainable params: 4,929 (19.25 KB)

 Non-trainable params: 0 (0.00 B)

In [57]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [61]:
# Train the model
nn.fit(X_train_scaled, y_train, epochs=50, batch_size=32, validation_data=(X_test_scaled, y_test))

Epoch 1/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7071 - loss: 0.5910 - val_accuracy: 0.7243 - val_loss: 0.5632
Epoch 2/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 943us/step - accuracy: 0.7309 - loss: 0.5540 - val_accuracy: 0.7248 - val_loss: 0.5645
Epoch 3/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 936us/step - accuracy: 0.7307 - loss: 0.5504 - val_accuracy: 0.7208 - val_loss: 0.5612
Epoch 4/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 934us/step - accuracy: 0.7339 - loss: 0.5479 - val_accuracy: 0.7222 - val_loss: 0.5592
Epoch 5/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 937us/step - accuracy: 0.7313 - loss: 0.5460 - val_accuracy: 0.7233 - val_loss: 0.5610
Epoch 6/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 932us/step - accuracy: 0.7355 - loss: 0.5465 - val_accuracy: 0.7238 - val_loss: 0.5577
Epoch 7/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 934us/step - accuracy: 0.7306 - loss: 0.5477 - val_accuracy: 0.7242 - val_loss: 0.5613
Epoch 8/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7372 - loss: 0.5414 - val_accuracy: 0.7251 - val_loss: 0.5568
Epoch 9/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 958us/step - accuracy: 0.7321 - loss: 0.5473 - val_accuracy: 0.7216 - val_loss: 0.5566
Epoch 10/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 980us/step - accuracy: 0.7290 - loss: 0.5509 - val_accuracy: 0.7181 - val_loss: 0.5583
Epoch 11/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 940us/step - accuracy: 0.7362 - loss: 0.5438 - val_accuracy: 0.7217 - val_loss: 0.5597
Epoch 12/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 937us/step - accuracy: 0.7333 - loss: 0.5437 - val_accuracy: 0.7270 - val_loss: 0.5562
Epoch 13/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 941us/step - accuracy: 0.7395 - loss: 0.5385 - val_accuracy: 0.7235 - val_loss: 0.5575
Epoch 14/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 946us/step - accuracy: 0.7376 - loss: 0.5401 - val_accuracy: 0.7257 - val_loss: 0.5593
Epoch 15/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 947us/step - accuracy: 0.7361 - loss: 0.5428 - val_accuracy: 0.7265 - val_loss: 0.5580
Epoch 16/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 944us/step - accuracy: 0.7351 - loss: 0.5406 - val_accuracy: 0.7270 - val_loss: 0.5572
Epoch 17/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 937us/step - accuracy: 0.7355 - loss: 0.5424 - val_accuracy: 0.7271 - val_loss: 0.5597
Epoch 18/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 936us/step - accuracy: 0.7369 - loss: 0.5405 - val_accuracy: 0.7265 - val_loss: 0.5585
Epoch 19/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 942us/step - accuracy: 0.7384 - loss: 0.5353 - val_accuracy: 0.7249 - val_loss: 0.5582
Epoch 20/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7363 - loss: 0.5434 - val_accuracy: 0.7273 - val_loss: 0.5571
Epoch 21/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 941us/step - accuracy: 0.7344 - loss: 0.5427 - val_accuracy: 0.7280 - val_loss: 0.5562
Epoch 22/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 931us/step - accuracy: 0.7414 - loss: 0.5393 - val_accuracy: 0.7268 - val_loss: 0.5553
Epoch 23/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 947us/step - accuracy: 0.7369 - loss: 0.5405 - val_accuracy: 0.7252 - val_loss: 0.5587
Epoch 24/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 941us/step - accuracy: 0.7359 - loss: 0.5424 - val_accuracy: 0.7271 - val_loss: 0.5587
Epoch 25/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 946us/step - accuracy: 0.7408 - loss: 0.5359 - val_accuracy: 0.7242 - val_loss: 0.5585
Epoch 26/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 954us/step - accuracy: 0.7474 - loss: 0.5308 - val_accuracy: 0.7276 - val_loss: 0.5556
Epoch 27/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 955us/step - accuracy: 0.7387 - loss: 0.5379 - val_accuracy: 0.7271 - val_loss: 0.5595
Epoch 28/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 978us/step - accuracy: 0.7400 - loss: 0.5377 - val_accuracy: 0.7238 - val_loss: 0.5592
Epoch 29/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 961us/step - accuracy: 0.7375 - loss: 0.5411 - val_accuracy: 0.7246 - val_loss: 0.5571
Epoch 30/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 990us/step - accuracy: 0.7387 - loss: 0.5365 - val_accuracy: 0.7292 - val_loss: 0.5565
Epoch 31/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 941us/step - accuracy: 0.7387 - loss: 0.5383 - val_accuracy: 0.7273 - val_loss: 0.5582
Epoch 32/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7377 - loss: 0.5396 - val_accuracy: 0.7277 - val_loss: 0.5593
Epoch 33/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 935us/step - accuracy: 0.7377 - loss: 0.5367 - val_accuracy: 0.7283 - val_loss: 0.5589
Epoch 34/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 926us/step - accuracy: 0.7365 - loss: 0.5396 - val_accuracy: 0.7264 - val_loss: 0.5561
Epoch 35/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 932us/step - accuracy: 0.7373 - loss: 0.5407 - val_accuracy: 0.7261 - val_loss: 0.5590
Epoch 36/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 948us/step - accuracy: 0.7381 - loss: 0.5384 - val_accuracy: 0.7255 - val_loss: 0.5582
Epoch 37/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 932us/step - accuracy: 0.7355 - loss: 0.5392 - val_accuracy: 0.7257 - val_loss: 0.5593
Epoch 38/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 940us/step - accuracy: 0.7384 - loss: 0.5365 - val_accuracy: 0.7259 - val_loss: 0.5590
Epoch 39/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 949us/step - accuracy: 0.7353 - loss: 0.5409 - val_accuracy: 0.7268 - val_loss: 0.5562
Epoch 40/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 948us/step - accuracy: 0.7405 - loss: 0.5362 - val_accuracy: 0.7246 - val_loss: 0.5585
Epoch 41/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 945us/step - accuracy: 0.7380 - loss: 0.5373 - val_accuracy: 0.7230 - val_loss: 0.5585
Epoch 42/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 953us/step - accuracy: 0.7358 - loss: 0.5387 - val_accuracy: 0.7246 - val_loss: 0.5592
Epoch 43/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 940us/step - accuracy: 0.7390 - loss: 0.5395 - val_accuracy: 0.7267 - val_loss: 0.5586
Epoch 44/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 968us/step - accuracy: 0.7421 - loss: 0.5364 - val_accuracy: 0.7246 - val_loss: 0.5583
Epoch 45/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7337 - loss: 0.5420 - val_accuracy: 0.7267 - val_loss: 0.5615
Epoch 46/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 999us/step - accuracy: 0.7376 - loss: 0.5369 - val_accuracy: 0.7270 - val_loss: 0.5599
Epoch 47/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7429 - loss: 0.5306 - val_accuracy: 0.7261 - val_loss: 0.5589
Epoch 48/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 975us/step - accuracy: 0.7409 - loss: 0.5352 - val_accuracy: 0.7271 - val_loss: 0.5598
Epoch 49/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 975us/step - accuracy: 0.7354 - loss: 0.5375 - val_accuracy: 0.7249 - val_loss: 0.5615
Epoch 50/50
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 950us/step - accuracy: 0.7423 - loss: 0.5352 - val_accuracy: 0.7252 - val_loss: 0.5632

In [63]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - 732us/step - accuracy: 0.7252 - loss: 0.5632
Loss: 0.5631627440452576, Accuracy: 0.725218653678894

In [65]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.